@model M32COM_CW.Models.Member

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4> @Html.DisplayFor(model => model.Forename)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Forename)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Forename)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
        <img src="@Url.Action("GetImage", new { id = Model.Id })" alt="" height="300"/>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin") || User.IsInRole("TeamManager"))
    {
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
