@model IEnumerable<M32COM_CW.Models.Member>
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h2>Members</h2>


@if (User.IsInRole("TeamManager"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.TeamID)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.Team.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Forename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Teams" asp-action="Details" asp-route-id="@item.TeamID">@item.TeamID</a>
                </td>
                <td>
                    @item.Team.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Forename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInRole("Admin") || User.IsInRole("TeamManager"))
                    {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    @if (item.ApplicationUserId == null)
                    {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
